
.myBleu{
  color: #0065fc;
}
.myGris{
  color: #f2f2f2;
}

body,main
{
  font-family: "Raleway", "Sans serif", "arial";
 
}

body
{
  box-sizing: border-box;
  
}
.Main{
  padding: 0 1rem;
}
.Header
{
  
  display: flex;
  justify-content: last baseline;
}

.Logo
{ 
  margin-right: 80px;
  margin-top: 10px;
}

.NavSinscrire
{

  display: flex;
  justify-content: space-around;
  margin: 15px 0px 0px 15px;
}


.NavLienHebergements,.NavLienActivites
{
margin: 15px 50px 0px 15px;
}

.Sinscrire
{  
  margin: 0px;
}

.RechercheFormLocalisationIcon
{
 color: black;
 background-color: #f2f2f2;
background-size: auto;
border-radius: 0.3rem 0rem 0rem 0.3rem ;
padding: 6px;

text-align: center;
}

.RechercheFormRechercheInput
{

border:solid 0px #f2f2f2;
border-right: transparent;

vertical-align: bottom;
block-size: 27px;
display: inline-block;
align-content: flex-start;
align-items: baseline;
}

.RechercheForm
{
  display: inline-flex;
align-content: inline;


border-bottom-right-radius: 3rem;
block-size: 29px;
border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.RechercheFormButtonInput
{
  border: solid 5px #0065fc;
  background-color: #0065fc;
  border-radius: 0rem 0.3rem 0.3rem 0rem ;
  color: white;
 background-origin: sizing 2px;;
}

.RechercheFiltresFiltre
{
  border: solid 2px #f2f2f2;
  border-radius: 2rem;

display: inline-flex;
align-content: space-between;

box-sizing: 20%;
margin: 1rem;
align-items: center;
}

.RechercheFiltresFiltreIcon      /* icon des filtres */
{    
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
}
.RechercheFiltresFiltreTitre
{
margin-left: 15px;
margin-right: 15px;
}
.RechercheResultat
{
  display: inline-flex;
align-items: center;
  
}

.RechercheResultatIcon
{

border:solid 1px #f2f2f2;
  border-radius: 45%;
  padding: 0.5rem;
  border-radius: 100%;
  height: 1rem;
  width: 1rem;
  min-height: 0.5rem;
  min-width: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;

}
.RechercheFiltresTitre
{
margin: 0px 15px 0px 15px;
display: inline-flex;
}




.Hebergements
  {
    display: flex;
    justify-content: space-between;
    order: 0;
    align-self: auto;
  
    
  }
  .FicheHebergementFigure
  {
    margin: 3px;
    
  }
  .FicheHebergement{
display: inline-block;

  margin: 12px;

  background-color: white;
 
  border-radius: 19.5px;
  box-shadow: 0 0 16px #0000002e;  /* ombre du fond */
  width: 19rem;
}

.FicheHebergementImage
{
  
  max-block-size: 9rem;
  width: 100%;
  border-radius: 18px 18px 0 0;

}



.Populaire
{
  margin: 5px;
  background-color: #f2f2f2;        /* couleur de fond */
  background-size: auto;
  border-radius: 20px 20px 20px 20px;   /* arondi des angles de fond */
  
}

.FichePopulaireImage
{
  display: inline;
  float: left;      /*   texte affiche a droite de limage */
 
  margin: 15px 13px -4px -3px;
  padding: 3px;

  border-radius: 18px 0 0 18px;
 
    min-width: 8rem;
min-height: 12rem;
object-fit: cover;
width: 40%;

}

.HebergementMarseil
{
  display: flex;
  flex-wrap: wrap;
  background-color: #f2f2f2;
  border-radius: 20px 20px 20px 20px;
  
  margin: 5px;
}


.HebergementTitre{
inline-size: 100%;
padding-left: 9px;
margin: 10px;
}

.PopulaireTitre
{
  inline-size: 100%;
padding-left: 9px;
margin: 10px;
}
.PopulaireTitreIcon
{
  padding-left: 65px;
}
.FichePopulaireLegende
{
  padding-top: 5px;
}
.NomPopulaire
{
  margin-top: 20px;
  margin-bottom: -5px;
}
.FichePopulaire
{
  margin: 15px;
  display: flex;
  padding: 5px;
  justify-self: start;
  flex-direction: row;
 margin-block-start:  5px;
  background-color: white;
 background-attachment: fixed;
 max-width: 23rem;
 min-width: 20rem;
 min-height: 7rem;
 max-height: 13rem;
    border-radius: 1.25rem;
   
  
}
.FichePopulaireFigure
{
  
  margin-block-start: -20px;
  
  margin-inline-start: -1px;
  margin-inline-end: 4px;

}

.voirPlus
{
  display:block;
  block-size: auto;
  flex-wrap: wrap;
 flex: 1 100%;

  margin: 18px;
}


.ActiviteTitre
{
  inline-size: 100%;
  padding-left: 9px;
  margin: 10px;
}


}
.FicheActivite
{
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
}

.FicheActiviteTitre
{
  padding-left: 20px;
  color: black;
}

.FicheActivite1
{
 
  display: inline-block;
  margin: 12px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  width: 19rem;

}
.FicheActivite2
{
 
  display: inline-block;
  margin: 12px;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 16px #0000002e;
  width: 19rem;

}
.FicheActiviteImageImg1
{
  display: flex;
  flex-wrap: wrap;
  width: 19rem;
  height: 278px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;

}
.FicheActiviteImageImg2
{
  display: flex;
  flex-wrap: wrap;
  width: 19rem;
  height: 165px;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.Footer
{
  background-color: #f2f2f2;   
  display: flex;
  justify-content: space-around;
    max-width: 100%;
    width: 1640px;
    margin: 0;
   
    box-sizing: border-box;

}

.FicheHebergementLegende,.FicheHebergementNuit,.FicheHebergementPrix,.FicheHebergementNote
{
color: black;
margin-left: 12px;
margin-bottom: 10px;

}
.FicheHebergementLegende{
  margin-top: -14px;
}
.FichePopulaireLegende ,.FichePopulaireNuit
{
 color: black;
 margin: 1px;
 margin-top: 1px;
 padding-bottom: 5px;

}
.FichePopulaireNote{
  color: black;
  margin: 1px;
  margin-top: 75px;
  padding-bottom: 5px; 
 
}
.FichePopulairePrix
{
padding-top: 0px;
}
.FooterColoneLien
{
  color: black;
  text-decoration: none;
}
